@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body{
    height: 100vh;
    background-image: url('img/back1.jpg');
    background-size: cover;
}
.neon{
    color: white;
    font-size: 5em;
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0 20px;
    text-shadow: 0 0 20px  #ff005b;
}


.neon:after{
content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: #ff005b;
    filter: blur(15px);
}

.neon:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fe3a80;
    z-index: -2;
    opacity: .5;
    filter: blur(40px);

}




.neon2{
    color: white;
    font-size: 3em;
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0 20px;
    text-shadow: 0 0 20px  #ff005b;
}


.neon2:after{
content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: #ff005b;
    filter: blur(15px);
}

.neon2:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fe3a80;
    z-index: -2;
    opacity: .5;
    filter: blur(40px);

}

.neon_button{
    position: absolute;
    top: 80%;
    left: 50%;
    font-size: 15px;
    margin-left: -80px;
    margin-top: -50px;
}

.neon_button a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #ff005b;
    overflow: hidden;
    transition: 0.2s;
    text-decoration: none;
    font-weight: 700;
    margin-left: -20px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
}

.neon_button a:hover{
    color: #006400;
    background:  #7FFF00;
    box-shadow: 0 0 10px  #7FFF00, 0 0 40px  #7FFF00, 0 0 80px  #7FFF00;
    text-decoration: none;
  transition-delay: 1s;
}

.neon_button a span{
    position: absolute;
    display: block;
}
.neon_button a span:nth-child(1)
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#7FFF00);
}
.neon_button a:hover span:nth-child(1)

{
    left: 100%;
    transition: 1s;
}


.neon_button a span:nth-child(3)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#7FFF00);
}
.neon_button a:hover span:nth-child(3)

{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}


.neon_button a span:nth-child(2)
{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#7FFF00);
}
.neon_button a:hover span:nth-child(2)

{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}


.neon_button a span:nth-child(4)
{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#7FFF00);
}
.neon_button a:hover span:nth-child(4)

{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}




































